
	@media (min-width: 768px){
#image_container {
     margin: 30px 30px 30px 30px;
}

p.text-parag {
	text-align: justify;
	text-justify: inter-word;
	font-family: Times; font-size: 18px; font-style: Normal; font-weight: 300;
}
img.intextimg{
	margin: 5px 30px 5px 5px;
	
}
p.title1{
		font-family: Times; font-size: 28px; font-style: Normal; font-weight: 700;
		color: #e3f2fd-dark; background-color : dark;
}

	.navbar{
		background-color: #e3f2fd;
		font-family: Times; font-size: 20px; font-style: Normal; font-weight: 700;
			
		}
	.col{
		background-color: #e3f2fd;
		
		}
	
	a.navbar-brand{
		background-color: white ;
		/*margin-top: 10px;*/
		/*font-size:  36px;*/
		/*width:200px; */
		height: 120px;
		
		margin-top: -20px;
		margin-bottom: -40px;
		margin-left: 150px;
		font-size: 20px;
		text-align: center;
		
		
		
		
	} 
	}
		
	@media (max-width: 768px){
	.navbar{
		background-color: white;
		font-family: Times; font-size: 20px; font-style: Normal; font-weight: 700;
		
		}
	a.navbar-brand{
		background-color: white;
		height: 120px;
		margin-top: -20px;
		margin-bottom: 0px;
		margin-left: 100px;
		font-size: 20px;
		}
	.col{
		background-color: #e3f2fd;
		
		}
	p.title1{
		font-family: Times; font-size: 28px; font-style: Normal; font-weight: 700;
		color: #e3f2fd-dark; background-color : dark;
		}
	p.text-parag {
		text-align: justify;
		text-justify: inter-word;
		font-family: Times; font-size: 18px; font-style: Normal; font-weight: 300;
	}
	}
	
	
	
#comparison_container{
	
	background-color: #e3f2fd;
}
	
	
	
